// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #064E3B;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #fffdfd;

$input-border: #ced4da;
$input-focus-border: #80bdff;
$input-focus-shadow: rgba(0, 123, 255, 0.25);
$btn-success-bg: #064E3B;
$secondary-text: #6c757d;
