<div class="container mt-5">
  <h1>Welcome to AirBnPolitics</h1>
  <p>Find the perfect politician's speech for your occasion!</p>

  <div class="mt-4">
    <%= link_to "View All Offerings", offerings_path, class: "btn btn-primary" %>
  </div>
</div>